.vscode/
__pycache__
.ipynb_checkpoints
.DS_Store
.idea
/C1/W2/assignment/data/mnist.npz
/C1/W4/ungraded_labs/horse-or-human/
/C1/W4/ungraded_labs/validation-horse-or-human/
/C1/W4/ungraded_labs/horse-or-human.zip
/C1/W4/ungraded_labs/validation-horse-or-human.zip
/C1/W3/assignment/data/
/C2/W1/ungraded_lab/cats_and_dogs_filtered/
/C2/W1/ungraded_lab/cats_and_dogs_filtered.zip
/C1/W4/assignment/data/
/C2/W2/assignment/history_augmented.pkl
/C2/W2/ungraded_labs/cats_and_dogs_filtered.zip
/C2/W3/ungraded_lab/cats_and_dogs_filtered.zip
/C2/W3/ungraded_lab/tmp/
/C3/W1/assignment/data/
/C2/W4/assignment/sign_mnist_test.csv
/C2/W4/assignment/sign_mnist_train.csv
/C3/W2/ungraded_labs/meta.tsv
/C3/W2/ungraded_labs/sarcasm.json
/C3/W2/ungraded_labs/vecs.tsv
